{% extends 'base.html.twig' %}

{% block title %}
    Rates
{% endblock %}

{% block body %}

    <div class="row">
        <div class="text-center col-md-12">
            <button id="update-rates-btn" class="btn btn-primary">Update rates</button>
            <a href="{{ path('create_rate') }}">
                <button class="btn btn-primary">Create</button>
            </a>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-1">Currency</div>
        <div class="col-md-2">Rate</div>
        <div class="col-md-4">Updated At</div>
        <div class="col-md-4">Last Changed At</div>
        <div class="col-md-1"></div>
    </div>

    <div class="list">
        {% for rate in rates %}
            <div class="row mb-1 rate-row" data-currency="{{ rate.currency }}">
                {% include 'rates/row.html.twig' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

